data/file2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="measurements" type="measurementsType"/>
  <xsd:complexType name="measurementType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="Time"/>
      <xsd:element type="xsd:string" name="Value"/>
      <xsd:element name="Comment">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value=""/>
            <xsd:enumeration value="outlier"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="measurementsType">
    <xsd:sequence>
      <xsd:element type="measurementType" name="measurement" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>