data/file2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="measurements" type="measurementsType"/>
  <xs:complexType name="measurementType">
    <xs:sequence>
      <xs:element type="xs:string" name="Time"/>
      <xs:element type="xs:string" name="Value"/>
      <xs:element name="Comment">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
            <xs:enumeration value="outlier"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="measurementsType">
    <xs:sequence>
      <xs:element type="measurementType" name="measurement" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>